/*Global declarations*/
@font-face {
    font-family: 'League Spartan';
    src: url('../assets/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Formatting footer pinned to bottom when page is short */
html,
body {
    height: 100%;
    font-size: 18px;
    margin: 0;
}

p {
  line-height: 1.5;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
}

/*Navigation bar stuff here*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    min-height: 15%;
    color: white;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.navbar .logo {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .navigation {
    flex: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .navigation a, .dropdown-toggle {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.navbar .navigation a:hover, .dropdown-toggle:hover {
    color: rgba(0, 0, 0, 0.9);
}

.navbar .social-icons {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 1em;
    align-items: center;
}

.nav-item-with-dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 2.5rem;
    left: -2rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    min-width: 175px;
    z-index: 10;
}

.dropdown-menu a {
    display: block;
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #444;
}

.nav-item-with-dropdown.open .dropdown-menu {
    display: block;
}

.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 0.2rem;
}

/*Main stuff here*/
main {
    background-color: #e8e8e8;
    padding: 0.75rem 1rem;
}

main h2 {
    margin-bottom: 0.75rem;
}

main .left p {
    margin-bottom: 1rem;
}

.container {
    background-color: #fff;
    padding: 1rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
}

.container .intro .left,
.container .intro .right {
  width: 50%;
}

.container .intro .left {
    align-self: center;
    text-align: justify;
    padding: 1rem 12rem;
}

.intro {
    padding: 1rem 1rem;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 20px;
}

.separator p {
    font-size: 1.5rem;
    margin: 0 0;
}

/*Footer stuff here*/
footer {
    background-color: #f8f8f8;
    width: 100%;
    min-height: 20%;
}

.footer-content {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*4 footer section here*/
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-top .footer-col div h3{
    padding: 0.5rem 0;
}

.footer-col {
    flex: 1 1 22%;
    min-width: 200px;
    padding: 0 0.5rem;
}

.footer-col .socials ul li{
    padding: 0.25rem;
}
.footer-col .socials ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.footer-col .socials ul li a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}

.footer-col .socials ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.footer-col .newsletter-form input[type="email"] {

    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*.footer-content .copyright {
    flex: 2;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}


.footer-content .socials {
    flex: 1;
}



.footer-content .newsletter-form {
    flex: 1;
}